html,
body {
  height: 100%;
  margin: 0;
  background: linear-gradient(
    to right,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  );
}

.full-width {
  width: 100%;
}

mat-form-field {
  width: 100%;
  max-width: 100%;
  margin-top: 16px;
  background-color: white;
  border-radius: 4px;
}

input {
  padding: 10px;
  font-size: 16px;
}

mat-option {
  padding: 10px;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 16px;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  flex: 1;
}

th {
  background-color: #4caf50;
  color: black;
}

.full-width-table {
  width: 100%;
}

.custom-button {
  background-color: #4caf50;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.custom-button:hover {
  background-color: white;
  color: #4caf50;
}

.custom-button-info {
  background-color: #af984c;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.custom-button-info:hover {
  background-color: white;
  color: #4c4faf;
}

.back-to-landing-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 20px;
  background-color: #ff7700;
  color: #fff;
  border: none;
  border-radius: 70%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-to-landing-button:hover {
  background-color: #b30080;
}
