<div class="container">
  <mat-form-field class="full-width">
    <input
      type="text"
      placeholder="Search"
      aria-label="Search"
      matInput
      [formControl]="searchControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="optionSelected($event)"
    >
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option.id"
      >
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <!-- CryptoComparisonComponent template -->
  <app-comparison-table
    [cryptocurrencies]="selectedCryptocurrencies"
    (removeCrypto)="removeCrypto($event)"
  ></app-comparison-table>
  <button mat-button (click)="fetchAllCryptos()">Show All</button>
</div>
