<section class="container">

  <section class="logo-container">
    <a href="/" class="logo">
      <p>Crypto</p>
      <p>LearnX</p>
    </a>
  </section>

  <section class="navigation-links">
    <ul class="link-list">
      <li><a class="no-decoration" href="/crypto">Cryptocurrencies</a></li>
      <li><a class="no-decoration" href="/iot">IoT</a></li>
      <li><a class="no-decoration" href="cyber">Cybersecurity</a></li>
      <li><a class="no-decoration" href="about">About Us</a></li>
      <li><a href="auth">Sign-in</a></li>
    </ul>
  </section>

</section>
