/* crypto-currency-landing.component.css */

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.landing-card {
  width: 100%;
  max-width: 100%;
  height: 100%;
  text-align: center;
  background-color: #1a1a1a;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.crypto-title {
  font-size: 1.5rem; /* Adjust this value as needed */
  font-weight: bold;
  margin-bottom: 0.625rem; /* Adjust this value as needed */
}

.crypto-description {
  font-size: 1rem; /* Adjust this value as needed */
  margin-bottom: 1.25rem; /* Adjust this value as needed */
  text-align: center;
}

.mat-card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 60%; /* Adjust this value as needed */
  overflow-y: auto;
}

.crypto-button {
  margin: 0.3125rem; /* Adjust this value as needed */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.crypto-button:hover {
  background-color: #808080;
  color: #fff;
  transform: scale(1.1); /* Adjust this value as needed */
}
