/* crypto-currency-landing.component.css */

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust this to fit the entire viewport height */
  width: 100vw; /* Adjust this to fit the entire viewport width */
  margin: 0;
  padding: 0;
}

.landing-card {
  width: 100%; /* Adjust this to change the width of the card relative to the container */
  max-width: 100%; /* Set a max-width to prevent the card from becoming too wide on large screens */
  padding: 20px;
  text-align: center;
  background-color: #1a1a1a;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; /* This will center the content vertically */
  overflow: hidden;
}

.mat-card-header .mat-card-header-text {
  width: 100%;
  text-align: center;
}

.crypto-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.crypto-description {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

.mat-card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* This will center the content vertically */
  height: 60vh; /* Adjust this value according to your needs */
  overflow-y: auto; /* This will add a scrollbar when the content exceeds the container's height */
}

.mat-card-actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; /* This will center the buttons horizontally */
}

.crypto-button {
  margin: 5px;
}

.crypto-button:hover {
  background-color: #808080;
  color: #fff;
}
