/* crypto-currency-landing.component.css */

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
}

.landing-card {
  width: 900px;
  padding: 20px;
  text-align: center;
  background-color: #1a1a1a;
  color: #fff;
}

.mat-card-header .mat-card-header-text {
  width: 100%;
  text-align: center;
}

.crypto-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.crypto-description {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

.crypto-button {
  margin-right: 10px;
}

.crypto-button:hover {
  background-color: #808080;
  color: #fff;
}
