.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #1a1a1a;
  color: #fff;
}

.article {
  width: 800px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #262626;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.article-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.article-image {
  width: 100%;
  width: 720px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 5px;
  display: block;
}

.article-description {
  font-size: 1rem;
  margin-bottom: 20px;
}

.read-more {
  display: inline;
  font-size: 1rem;
  color: #00ff00;
  text-decoration: none;
  transition: color 0.3s ease;
}

.read-more:hover {
  color: #00cc00;
  text-decoration: underline;

}

.back-to-landing-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 20px;
  background-color: #ff7700;
  color: #fff;
  border: none;
  border-radius: 70%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-to-landing-button:hover {
  background-color: #b30080;
}
