<mat-table mat-table [dataSource]="cryptocurrencies" class="mat-elevation-z8">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Current Price Column -->
  <ng-container matColumnDef="current_price">
    <th mat-header-cell *matHeaderCellDef>Current Price</th>
    <td mat-cell *matCellDef="let element">{{ element.current_price }}</td>
  </ng-container>

  <!-- Market Cap Column -->
  <ng-container matColumnDef="market_cap">
    <th mat-header-cell *matHeaderCellDef>Market Cap</th>
    <td mat-cell *matCellDef="let element">{{ element.market_cap }}</td>
  </ng-container>

  <!-- Total Volume Column -->
  <ng-container matColumnDef="total_volume">
    <th mat-header-cell *matHeaderCellDef>Total Volume</th>
    <td mat-cell *matCellDef="let element">{{ element.total_volume }}</td>
  </ng-container>

  <!-- Price Change Percentage 24h Column -->
  <ng-container matColumnDef="price_change_percentage_24h">
    <th mat-header-cell *matHeaderCellDef>24h Price Change (%)</th>
    <td mat-cell *matCellDef="let element">
      {{ element.price_change_percentage_24h }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</mat-table>
