/* crypto-news.component.css */

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.crypto-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #1a1a1a;
  color: #fff;
}

.news-article {
  max-width: 800px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #262626;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.news-description {
  font-size: 1rem;
  margin-bottom: 20px;
}

.read-more {
  font-size: 1rem;
  color: #00ff00;
  text-decoration: none;
}

.read-more:hover {
  text-decoration: underline;
}
