<!-- crypto-news.component.html -->

<div *ngIf="loading" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading && news.length > 0" class="crypto-news">
  <div *ngFor="let article of news" class="news-article">
    <div class="news-header">
      <h2 class="news-title">{{ article.title }}</h2>
    </div>
    <img
      *ngIf="article.image"
      [src]="article.image"
      alt="News image"
      class="news-image"
    />
    <p class="news-description">{{ article.description }}</p>
    <a
      [href]="article.url"
      target="_blank"
      rel="noopener noreferrer"
      class="read-more mat-button"
      >Read more</a
    >
  </div>
</div>

<button class="back-to-landing-button" routerLink="/cryptocurrency-landing">
  Back to Landing Page
</button>
