<div class="chart-container">

  <div class="select-container">
    <select class="selection" (change)="onCryptoChange($event)">
      <option *ngFor="let crypto of cryptocurrencies" [value]="crypto.id">
        {{ crypto.name }}
      </option>
    </select>

    <img class="selection-image" *ngIf="selectedCrypto" [src]="selectedCrypto.image" alt="Crypto Icon" class="crypto-icon" />
  </div>


  <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [plugins]="chartPlugins"
    [legend]="chartLegend" [type]="chartType">
  </canvas>
</div>
