.select-container {
  display: flex;
  align-items: center;
}

.select-container img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.crypto-icon {
  width: 35px;
  height: 35px;
  animation: spin 4s linear infinite, bob 4s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
