.board {
  display: flex;
  margin-top: 42px;
  border-radius: 25px;
  background: rgba(0, 232, 220, 0.10);
}

.board-desc {
  margin-left: 30px;
  width: 50%;
}

.board-desc h2 {
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 30px 0 0 24px;
}

.board-info {
  width: 80%;
  margin: 22px 0 22px 24px;
}

.board-desc p {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

.board-desc a {
  width: 180px;
  height: 60px;
  border-radius: 25px;
  background: #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 22px 24px 5% 24px;
}

.board-desc a {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 0px;
  text-transform: uppercase;
  text-decoration: none;
}

.board-img {
  display: flex;
  text-align: right;
  width: 50%;
}

.board-img img {
  width: 100%;
  border-radius: 25px;
}

/* Reversed Board */

.board-reversed {
  flex-direction: row-reverse;
}

.button-left {
  display: flex;
  justify-content: flex-end;
}
