<form [formGroup]="alertForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="crypto">Cryptocurrency:</label>
    <select id="crypto" formControlName="crypto">
      <option *ngFor="let crypto of cryptos" [value]="crypto.id">
        {{ crypto.name }}
      </option>
    </select>
  </div>
  <div>
    <label for="price">Price:</label>
    <input id="price" type="number" formControlName="price" />
  </div>
  <button type="submit">Set Alert</button>
</form>

<div class="alerts" *ngFor="let alert of alerts">
  <p>Alert set for {{ alert.crypto }} at price {{ alert.price }}</p>
</div>
